
<div class="mdl-card mdl-shadow--2dp" style="width: 90%;">
  <div class="mdl-card__title" *ngIf="gem">
    <h2 class="mdl-card__title-text">Gema {{gem.name}}</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Mauris sagittis pellentesque lacus eleifend lacinia...
    <div class="container"  *ngIf="gem">
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" required [(ngModel)]="gem.name" name="name" #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Name is required
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" [(ngModel)]="gem.description" name="description" #description="ngModel">
        <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
          Description is required
        </div>
      </div>
    </form>
	</div>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="save()" >
      save
    </button>
    <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="list()" >
      list
    </button>
  </div>
</div>